@import "../../bower_components/bootstrap-sass/lib/bootstrap";
@import "compass";

body {
    background: #000 url(/images/background.jpg) center 0 no-repeat;
    background-scale: contain;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-bottom: 20px;
}

.container {
  max-width: 940px;
}

footer {
  p {
    @include text-shadow(rgba(#fff, 0.8) 1px 1px 0);
  }
}

.hero-unit {
    margin: 0 auto;
    max-width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
    h1 {
      font-size: 60px;
      line-height: 1;
      letter-spacing: -1px;
  }
}

/* Set widths on the navbar form inputs since otherwise they're 100% wide */
.login-form {
  input {
    & [type="text"],
    & [type="email"]{
      @extend .col-md-6;
      @media (min-width: $screen-lg-min) {
        float: none;
      }
    }
    & + input {
      margin-top: 10px;
    }
  }
}

.game-login {
  img {
    max-width: 100%;
  }
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Let the jumbotron breathe */
  .jumbotron {
    margin-top: 20px;
  }
  /* Remove padding from wrapping element since we kick in the grid classes here */
  .body-content {
    padding: 0;
  }
}